html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(35,35,35);
    font-family: 'Comfortaa', cursive;
    color: wheat;
    margin-top: 65px;
}
h2 {
    margin-top: 65px;
}
h3 {
    margin-top: 15px;
    margin-left: 20px;
}

.navbar {
    width: 100vw;
    position: fixed;
    background-color: rgb(10,10,10);
    margin-top: -65px;
}
.navbar-brand {
    font-family: 'Fredericka the Great', cursive;
    color: gold;
}
.navbar-toggler-icon {
    color: gold;
}
.nav-link {
    color: goldenrod;
}

#schedule, #schedule th, #schedule td {
    border: 1px ridge;
    padding: 5px;
}
table {
    margin: 5px auto;
}

#activites {
    margin: 10px auto;
    width: 95%;
    margin-bottom: 50px;
}

#SixtyFourSquares {
    margin: 10px 8vw;
}
.reset64 {
    width: 150px;
    height: 80px;
    margin: 10px auto;
    display: block;
    font-size: 2rem;
}
.btn64 {
    width: 10vw;
    height: 10vw;
    margin: 0 -2px;
    background-color: grey;
    border-color:grey;
}
.btnPath {
    background-color: white;
}
.btnRight {
    background-color: greenyellow;
}
.btnWrong {
    background-color: red;
}